body {
    background-color: rgb(30, 29, 29);
}


.carousel{

    h1{
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    h3{
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        padding-bottom: 20px;
      }

      .slick-dots {
             margin-top: 250px;
             li button:before {
            color: white; // Change the color of the dots
            }
    
             li.slick-active button:before {
                color: white; // Change the color of the active dot
            }
            
            
      }
}
